<app-navbar></app-navbar>

<mat-form-field class="search" >
  <mat-label>Search</mat-label>
  <input type="search" (keyup)="search($event)"  matInput>
</mat-form-field>




<div class="content">
  <div class="row">
    <div class="col-md-2" *ngFor="let Product of filter ; let i=index">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{ Product.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="'./../assets/images/' + img[i]">
        <mat-card-content>
          <p>
            {{Product.description}}
          </p>
          <p>
            {{Product.price}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="addCart(Product.id)">CART</button>
          <button mat-button>BUY</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
