<div class="main">
    <mat-card class="example-card"  style="border: 2px solid;">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content> 
    </mat-card>

<br><br><br>
    <div class="info" style="border: 2px solid;">
        <div>
            <mat-icon>location_on</mat-icon>
            <p> Manage Address </p>
        </div>
        <div>
            <mat-icon>shopping_cart</mat-icon>
            <p> My Orders </p>
        </div>
        
    </div>

    <br><br><br>
<div style="border: 2px solid;">
    <ul>
        <li>
            <mat-icon>notifications</mat-icon>
            <a routerLink="">Notification Center    ></a> 
        </li>
        <li>
            <mat-icon>help</mat-icon>
            <a routerLink="">Help and Support       ></a>  
        </li>
        <li>
            <mat-icon>question_answer</mat-icon>
            <a routerLink="">FAQS                   ></a>  
        </li>
        <li>
            <mat-icon>description</mat-icon>
            <a routerLink="">Terms & Conditions     ></a>  
        </li>
        <li>
            <mat-icon>email</mat-icon>
            <a routerLink="">Get in Touch           ></a> 
        </li>

</ul>
</div>

    <button>Log Out</button>
</div>